table {
    width: 100%;
  }

  #content {
    width: 70%;
    margin: 0 auto;
    border: 1px solid #CCC;
    border-radius: 8px;
  }


  button {
    font-size: 14px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }